BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
PointerAlignment: Left
ReferenceAlignment: Left
SpaceAfterCStyleCast: false
SpacesInParentheses: false
NamespaceIndentation: None
AccessModifierOffset: -4
AlignAfterOpenBracket: Align
AlignTrailingComments: true
SortIncludes: true
IncludeBlocks: Regroup
