# Build
build/
out/
cmake-build-*/
*.o
*.obj
*.exe
*.dll
*.so
*.dylib
*.a
*.lib

# IDE
.vs/
.vscode/settings.json
.idea/
*.sln
*.vcxproj*
*.user
*.suo

# OS
.DS_Store
Thumbs.db
desktop.ini

# Dependencies
vcpkg_installed/
external/

# Data artifacts
*.log
core
